* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #34495e;
  font-family: "Poppins", sans-serif;
}
.main {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container {
  visibility: hidden;
}

.container.active {
  visibility: visible;
  position: relative;
  margin-top: 100px;
  width: 500px;
  height: auto;
  background: rgb(3, 58, 96);
}

.img-container {
  margin-top: 7px;
  display: grid;
  grid-template-columns: 75% 7%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 35px;
}
.second-img {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bet-img {
  width: 170px;
  margin: auto;
  align-items: center;
}

.livebet-img {
  margin: auto;
  width: 220px;
  height: auto;
  align-items: center;
  justify-content: center;
}
.close-img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.label {
  padding: 20px;
  font-size: 35px;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  color: #f1f1f1;
}
.login_form {
  padding: 10px 40px;
}
.login_form .font {
  font-size: 14px;
  color: #fff;
  margin: 1px 0;
}
.login_form input {
  height: 35px;
  width: 100%;
  padding: 2px;
  font-size: 18px;
  outline: none;
  border: 1px solid silver;
}
.login_form .font2 {
  margin-top: 25px;
}
.login_form button {
  margin: 25px 0 30px 0;
  height: 35px;
  width: 100%;
  font-size: 15px;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background: #001834;
  border: 1px solid #ffffff;
  transition: 0.1s;
}
.login_form button:hover {
  background: #151c6a;
}
.login_form #email_error,
.login_form #pass_error {
  margin-top: 5px;
  width: 100%;
  font-size: 18px;
  color: #c62828;
  background: rgba(255, 0, 0, 0.1);
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ef9a9a;
  display: none;
}

.checkbox-container {
  height: 20px;
  display: flex;
  width: 300px;
  padding: 20px 0;
  align-items: center;
}

.checkbox-container .checkbox {
  height: 20px;
  width: 20px;

  color: #5eb1d9;
}
.checkbox-container p {
  width: auto;
  color: #5eb1d9;
  padding: 3px;
}

.footer-container a {
  text-decoration: none;
  font-style: none;
}
.footer-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: -10px;
}
.footer-container p a {
  font-size: 12px;
  color: #f1f1f1;
  margin: 20px;
}

/**************  LOADING  ****************/

@keyframes ldio-6rp0pln6kis {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ldio-6rp0pln6kis div {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 8px solid #1a416a;
  border-top-color: transparent;
  border-radius: 50%;
  align-items: center;
  margin: 0;
}

.ldio-6rp0pln6kis div {
  animation: ldio-6rp0pln6kis 1s linear infinite;
  top: 38px;
  align-items: center;
  left: 46px;
  margin: auto;
}

.loadingio-spinner-rolling-56yjwbtwcdo {
  border: 1px solid;
  margin: auto;
  align-items: center;
  width: 270px;
  height: 75px;
  display: grid;
  grid-template-columns: 35% 65%;
  overflow: hidden;
  background-color: #1a416a;
  align-items: center;
}

.ldio-6rp0pln6kis {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  background: #fff;
  /* see note above */
}

.ldio-6rp0pln6kis div {
  box-sizing: content-box;
}
.second-part {
  height: 100%;
  justify-content: center;
  display: flex;
}
.second-part h2 {
  display: flex;
  color: #f1f1f1;
  text-align: center;
  margin: auto;
  align-items: center;
}

/* generated by https://loading.io/ */

#loader {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transition: 0.5s;
}

.loader2 {
  visibility: hidden;
  display: none;
}
